#contact {
    background-color: $dark;
    color: $white;
  .container {
    .info {
      font-size: 20px;
    }
    form {
        input,select,textarea {
            background-color: $dark;
            color: $white;
        }
    }
  }
}
