.card-deck {
  .card {
    .card-body {
      h5 {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 10px;
      }
      h6 {
        font-weight: 700;
      }
      h7 {
        font-weight: 600;
        font-size: 15px;
      }
      ul {
        li {
          margin-top: 5px;
        }
      }
      ul.options {
        font-size: 13px;
        li {
          width: 100%;
          span {
            float: right;
          }
        }
      }
    }
  }
}
.btn-bordered {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid $primary;
  padding: 5px 20px;
  font-weight: 500;
  text-shadow: none;
  transition: background-color 300ms linear;
  text-decoration: none !important;

  &:hover {
    background-color: rgba($primary, 1);
    color: $white;
  }
  &:focus {
    outline: none;
  }
  &.inverted {
    color: $white;
    border-color: $white;
    &:hover {
      background-color: rgba($primary, 0.7);
      text-shadow: none;
    }
  }
  &.gold {
    color: $gold;
    border-color: $gold;
  }
  &.light {
    border-color: $white;
    color: $white;
    &:hover {
      background-color: $white !important;
      color: $dark !important;
    }
  }
  &.sended {
    background-color: darkgreen !important;
    color: $whithe !important;
    border-color: darkgreen !important;

    &:hover {
      background-color: darkgreen !important;
      color: $whithe !important;
      border-color: darkgreen !important;
    }
  }
  &.error {
    border-color: red;
  }
}
input,
textarea,
select {
  &:focus {
    box-shadow: none !important;
  }
}
